# database files / runtime data
server/data/
server/*.log
server/*.wt
server/mongod.lock

# capacitor/android build outputs
client/android/gradle/
client/android/.gradle/
client/android/app/build/

# environment files
*.env
client/.env
server/.env

# dependencies
node_modules/
client/node_modules/
server/node_modules/

# lockfiles
package-lock.json
yarn.lock

# logs and temp
*.log
.DS_Store
